<h1>Register Form</h1>
<input type="text"placeholder="Username" class="form-control" id="tb-username" style="width: 200px">
<input type="text"placeholder="Password" class="form-control" id="tb-password" style="width: 200px">
<button id="btn-register" class="btn btn-info col-sm-1"style="width: 100px">Register</button>
