<h2>You are about to post a item for sale,<br>
    Please fullfill the information
    <br>
    and click on the submit button</h2>
<br>
<div class="whiskeyList">
    <input type="text"placeholder="Brand" class="form-control" id="tb-brand" style="width: 200px">
    <input type="text"placeholder="Name" class="form-control" id="tb-name" style="width: 200px">
    <input type="text"placeholder="Years" class="form-control" id="tb-years" style="width: 200px">
    <input type="text"placeholder="Price" class="form-control" id="tb-price" style="width: 200px">
    <br>
    <button id="btn-sell" class="btn btn-info col-sm-1"style="width: 100px">Submit</button>
</div>

